<template id="add-story">
	<style>
	input {
		margin-top: 0px;
	}

	h3 {
		font-weight: 200;
		margin-bottom: 3px;
	}

	#submit-story {
		margin-top: 8px;
		background-color: white;
	}

	</style>
	<form action="/postStory" id="story-form" method="post" aria-label="Post a story">
		<h3 id="title-label">Title</h3>
		<input type="text" name="title" aria-labelledby="title-label">
	</form>
	<h3 id="desc-label">Description</h3>
	<textarea form="story-form" name="desc" aria-labelledby="desc-label"></textarea>
	<br>
	<button id="submit-story" type="submit" form="story-form">Post to Transect</button>

</template>

<script>
	customElements.define('add-story', class extends HTMLElement {
		constructor() {
			super()
			var currentDoc = document.currentScript.ownerDocument;
			let shadow = this.attachShadow({mode: "open"})
			const template = currentDoc.querySelector('#add-story')
			const instance = template.content.cloneNode(true)
			shadow.appendChild(instance)
		}
	})
</script>